.title{
  &-big{
    font-size: 3em;
    @include mobileTablet(){
      font-size: 2em;
    }
  }
}

.color{
  &-ok{
    color: $box-ok-text-color;
  }
  &-warn{
    color: $box-warning-text-color;
  }
}

.text{
  &-center{
    text-align: center;
  }
}