<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Mercado libre - Ipad Mini Apple 16Gb Wifi Led 7.9</title>
    <link rel="stylesheet" href="css/style.min.css">
    <script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "Product",
          "name" : "Ipad Mini Apple 16Gb Wifi Led 7.9",
          "url" : "{{ producto.url }}",
          "logo" : "logo",
          "sameAs" : [ "array", "de" , "links" , "relacionados"]
        }
        </script>
  </head>
  <body class="bg-default">

    <div role="main">
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="title-big">Ipad Mini Apple 16Gb Wifi Led 7.9</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="img-content">
                  <figure>
                    <div class="img-figure">
                      <img src="http://core0.staticworld.net/images/article/2013/11/ipad-mini-retina-stand-100068325-large.jpg"
                           alt="{{ producto.titulo }}"
                           title="{{ producto.titulo }}"
                            class="img-responsive">
                    </div>
                  </figure>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <form action="comprar.html">
                  <h2 class="ch-price"><b>$ 4799<small class="precio-centavos">99</small></b></h2>
                  <div class="form-content">
                    <label for="quantity">
                      Quantity:
                      <select class="ch-form-options" name="quantity" id="quantity" data-ng-model="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">4</option>
                        <option value="5">6</option>
                      </select>
                    </label>

                  </div>
                  <div class="form-content">
                    <label for="payments">
                      Payments:
                      <select class="ch-form-options" name="payments" id="payments" data-ng-model="payments">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">4</option>
                        <option value="5">6</option>
                      </select>
                    </label>
                  </div>
                  <hr>
                  <button type="submit" role="button" class="ch-btn ch-btn-large">Buy</button>
                  <p><small>MercadoLibre isn't the owner of this product</small></p>

                </form>
                <hr>
                <h4>More products like this</h4>
                <div class="box">
                  <div class="ch-carousel" id="carousel">
                    <ul class="ch-carousel-list">
                      <li aria-label="page1" aria-posinset="1" aria-setsize="19" aria-hidden="false" class="ch-carousel-item">
                        <div class="img-example"><span class="sr-only">imagen de ejemplo</span></div>
                      </li>
                      <li aria-label="page1" aria-posinset="1" aria-setsize="19" aria-hidden="false"
                          class="ch-carousel-item">
                        <div class="img-example"><span class="sr-only">imagen de ejemplo</span></div>
                      </li>
                      <li aria-label="page2" aria-posinset="1" aria-setsize="19" aria-hidden="false"
                          class="ch-carousel-item">
                        <div class="img-example"><span class="sr-only">imagen de ejemplo</span></div>
                      </li>
                      <li aria-label="page3" aria-posinset="1" aria-setsize="19" aria-hidden="false"
                          class="ch-carousel-item">
                        <div class="img-example"><span class="sr-only">imagen de ejemplo</span></div>
                      </li>
                      <li aria-label="page4" aria-posinset="1" aria-setsize="19" aria-hidden="false"
                          class="ch-carousel-item">
                        <div class="img-example"><span class="sr-only">imagen de ejemplo</span></div>
                      </li>
                      <li aria-label="page5" aria-posinset="1" aria-setsize="19" aria-hidden="false"
                          class="ch-carousel-item">
                        <div class="img-example"><span class="sr-only">imagen de ejemplo</span></div>
                      </li>
                      <li aria-label="page6" aria-posinset="1" aria-setsize="19" aria-hidden="false"
                          class="ch-carousel-item">
                        <div class="img-example"><span class="sr-only">imagen de ejemplo</span></div>
                      </li>
                      <li aria-label="page7" aria-posinset="1" aria-setsize="19" aria-hidden="false"
                          class="ch-carousel-item">
                        <div class="img-example"><span class="sr-only">imagen de ejemplo</span></div>
                      </li>
                      <li aria-label="page8" aria-posinset="1" aria-setsize="19" aria-hidden="false"
                          class="ch-carousel-item">
                        <div class="img-example"><span class="sr-only">imagen de ejemplo</span></div>
                      </li>
                      <li aria-label="page9" aria-posinset="1" aria-setsize="19" aria-hidden="false"
                          class="ch-carousel-item">
                        <div class="img-example"><span class="sr-only">imagen de ejemplo</span></div>
                      </li>
                      <li aria-label="page10" aria-posinset="1" aria-setsize="19" aria-hidden="false"
                          class="ch-carousel-item">
                        <div class="img-example"><span class="sr-only">imagen de ejemplo</span></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </section>
    </div>
    <script type="text/javascript" src="js/scripts.min.js"></script>
  </body>
</html>
